/* https: //www.youtube.com/watch?v=OTKnhVTeN4w */
body {
    height: 100vh;
    margin: 0;
}

svg {
    font-family: "Poppins", sans-serif;
    font-size: 10em;
    font-weight: 800;
    text-transform: uppercase;
    transition: 1s font-size;
    /* This transitions the font-size when the size of the window is adjusted--cool. */

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

svg rect {
    fill: white;
    mask: url(#mask);
}

/* Selectin the rect outside of the nest */
svg>rect {
    fill: rgb(238, 233, 230);
}

video {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1200px) {
    svg {
        font-size: 6em;
    }
}

@media screen and (max-width:600px) {
    svg {
        font-size: 2em;
    }
}