/* From  https://www.youtube.com/watch?v=S-VeYcOCFZw*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.25rem;
  font-weight: 900;
}

.link {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
  color: rgb(64, 64, 64);
  cursor: pointer;
}

.dropdown.active > .link,
.link:hover {
  color: rgb(0, 77, 164);
}

.header {
  background-color: rgb(219, 219, 219);
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(
    100% + 0.25rem
  ); /* Gives padding and pushes it against the element */
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  /* Makes it so that you can't click on it when it's not visible */
  pointer-events: none;
}

/* Get the dropdown div's direct child when focus AND select the dropdown-menu div that is a sibling with it */
.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.login-form > input {
  margin-bottom: 0.5rem;
}

.login-form .submit {
  background-color: rgb(0, 77, 164);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.375rem;
}

.login-form .submit:hover {
  opacity: 0.8;
}

section {
  font-weight: 400;
  font-size: 1rem;
  display: grid;
  place-items: center;
}

article {
  max-width: 700px;
  width: 80%;
}

article + article {
  padding: 5em 0;
}

h1 {
  color: rgb(0, 77, 164);
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: rgb(0, 77, 164);
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
  position: relative;
}

h2::before {
  position: absolute;
  left: -0.5rem;
  bottom: 0;
  content: "";
  height: 90%;
  width: 0.2rem;
  background-color: rgb(0, 77, 164);
}
